/.idea/
/out/
/LuceneIndex.java
/SVINotFound2.java
/TagExample.java
/var/graphdb/active_tx_log
/var/graphdb/index
/var/graphdb/index.db
/var/graphdb/messages.log
/var/graphdb/neostore
/var/graphdb/neostore.id
/var/graphdb/neostore.nodestore.db
/var/graphdb/neostore.nodestore.db.id
/var/graphdb/neostore.propertystore.db
/var/graphdb/neostore.propertystore.db.arrays
/var/graphdb/neostore.propertystore.db.arrays.id
/var/graphdb/neostore.propertystore.db.id
/var/graphdb/neostore.propertystore.db.index
/var/graphdb/neostore.propertystore.db.index.id
/var/graphdb/neostore.propertystore.db.index.keys
/var/graphdb/neostore.propertystore.db.index.keys.id
/var/graphdb/neostore.propertystore.db.strings
/var/graphdb/neostore.propertystore.db.strings.id
/var/graphdb/neostore.relationshipstore.db
/var/graphdb/neostore.relationshipstore.db.id
/var/graphdb/neostore.relationshiptypestore.db
/var/graphdb/neostore.relationshiptypestore.db.id
/var/graphdb/neostore.relationshiptypestore.db.names
/var/graphdb/neostore.relationshiptypestore.db.names.id
/var/graphdb/nioneo_logical.log.active
/var/graphdb/tm_tx_log.1
/var/graphdb
/var/prueba.xml
/var/small.termdb.obo-xml
/var/go_daily-termdb.obo-xml
/src/Term.java
/src/TermImpl.java
/.shell_history
/graphs.iml